.footer {
    position: relative;
    bottom: 0px;
    height: auto;
    text-align: center;
    border: 1px groove #000000;
    border-radius: 0px;
    margin: 0;
    margin-top: 1em;
    background-color: #202020;
    color: #eeeeee;
    width: 100%;
    box-shadow: 0px 2px 5px 0px #090909 inset;
}

.col-md-4 {
  display: inline-block;
  margin:auto;
  max-width: 1140px;
  width: 100%;
  float:none;
  padding: 0;
}

.text-container {
    position: relative;
    max-width: 100%;
    width: 100%;
    padding-top: 10px;
    background-color: #202020;
    float:left;
}

.img-container {
    width: auto;
    min-width: auto;
    max-width: 25%;
    height: auto;
    position: relative;
    vertical-align: text-top;
    text-align: center;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    margin:auto;
}

.left {
  float:left;
}

.right {
  float:right;
}

.footer-text {
    position: relative;
    font-size: 12px;
}

.footer-img {
    position: relative;
    max-width: 100%;
    width: 80px;
    height: auto;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
text-decoration: none;
}
