.footer {
    position: absolute;
    margin-bottom: 0px;
    height: 150px;
    text-align: center;
    border: 1px groove #000000;
    background-color: #202020;
    opacity: 0.6;
    color: #eeeeee;
    width: 100%;
    box-shadow: 0px 10px 10px 0px #060606 inset;
}

.footer-container {
    width: 100%;
}

.text-container {
  width: 60%;
  align: center;
  padding-top: 10px;
}

.img-container {

}

.footer-img {
  max-height: 75px;
  max-width: 150px;
  width: inherit;
  height: inherit;
  padding-top: 10px;
  padding-left: 2px;
  padding-right: 2px;
}
