.login-form {
    padding-top: 00px;
}

.btn-primary {
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}

.calendar-div {
    padding-top: 28px;
    width: 65%;
    float: left;
}

.form-group {
    padding-top: 5px;
}

.eventinfo {
    padding: 30px;
    padding-top: 00px;
    float: left;
    width: 35%;
}

.clearfix {
    clear: both;
}

footer {
    padding-top: 40px;
}