.login-form {
    padding-top: 00px;
}

.btn-primary {
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1.5px 1px #777777;
}

.calendar-container {
  position: relative;
}

.calendar-div {
    padding-top: 28px;
    padding-bottom: 10px;
    width: 65%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.form-group {
    padding-top: 2px;
}

.eventinfo {
    padding: 30px;
    padding-top: 00px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    /*width: 35%;*/
}

.clearfix {
    clear: both;
}

footer {
    padding-top: 40px;
}

.form-control {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#colorHelper {
    vertical-align: middle;
    display: inline-block;
    background-color: #3a87ad;
    height: 46px;
    width: 20%;
    border: 1px solid #666666;
    border-radius: 4px;
    margin-left: 2.5%;
}
