<<<<<<< HEAD
.calendar-container {
    width: 60%;
}

=======
>>>>>>> refs/remotes/Hallako/master
.login-form {
    padding-top: 20px;
}

.btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}

.calendar-div {
    padding-top: 20px;
    width: 65%;
    float: left;
}

.eventinfo {
    padding: 20px;
    float: left;
    width: 35%;
}

.clearfix {
    clear: both
}

footer {
    padding-top: 40px;
}
