.form-control {
  width: 50%;
}

.col-md-4 {
  width: 50%;
  margin-top: 2em;
}

.panel-primary {
  width: 40%;
  height: 5%;
  float: left;
}

.panel-success {
  float: right;
  width: 100%;
  height: 5%;
}

.btn-group-vertical {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  display: block;
  width: 40%;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  border-radius: 6px;
  margin-bottom: 10px;
}

.btn-sm {
  margin-bottom: 5px;
  border-radius: 3px;
}

.btn-xs {
  margin-left: 0.6em;
  min-width: 4.5em;
  float: right;
  border-radius: 3px;
}

.btn-ok {
  float: right;
}

.btn-default {
  margin-bottom: 10px;
}

.btn-group-vertical>.btn:not(:first-child):not(:last-child) {
  border-radius: 6px;
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
  border-radius: 6px;
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
  border-radius: 6px;
}

.form-horizontal {
  padding-top: 0em;
  width: 100%;
  float: left;
}

.table-hover {
  position: relative;
  margin-top: 5em;
}
