/* You can add global styles to this file, and also import other style files */

@import "../node_modules/fullcalendar/dist/fullcalendar.css";
.flash-message {
    z-index: 9999;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumborton {
    height: 400px;
}

html,
body {
    height: 100%;
}