.user-block {
  float: left;
}

.changePw-block {
  float: right;
}

.profile-block {
  display: inline-block;
  margin: 1em;
  width: 30%;
  vertical-align: middle;
}

.table-hover {
  margin-top: 5em;
}
