.panel {
  margin: 0;
}

.accordion-head {
  display: block;
  margin: 0;
  cursor: pointer;
  text-align: left;
  width: auto;
  z-index: 20;
}

.accordion-head:hover{
  background-color: #ffffff;
}

.accordion-body {
  max-height: 0;
  padding: 0 15px;
  overflow: hidden;
  transition: all .2s ease;
  -webkit-transition: all .2s padding 0s ease;
}

ng-content {
  max-height: 0;
  overflow: hidden;
  padding-left: 2em;
  transition: max-height .2s ease;
}

.accordion-body.active {
  max-height: 300px;
  padding: 15px;
}
